@import '~bootstrap/scss/bootstrap-utilities';

.SimulationContext {
  grid-column: 1;
  grid-row: 1 / 3;

  .card-body {
    text-align: center;

    .edit-simulation {
      display: block;
    }

    .silhouette {
      display: block;
      width: 200px;
      max-width: 100%;
      margin: 0 auto;
      border: 1px solid $primary;
      border-radius: 50%;
    }
  }
}