@import '~bootstrap/scss/bootstrap-utilities';

.Dashboard {
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(var(--bs-gutter-x)/ 2);
  padding-top: calc(var(--bs-gutter-x)/ 2);
  padding-bottom: calc(var(--bs-gutter-x)/ 2);

  @include media-breakpoint-up(md) {
    grid-template-columns: 300px 1fr;
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: 300px 1fr 1fr;
  }
}